@font-face {
    font-family: 'aa_headline';
    src: url('../bin/fonts/Migra-Extrabold.woff') format('woff2'),
         url('../bin/fonts/Migra-Extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aa_normal';
    src: url('../bin/fonts/Matter-Light.woff2') format('woff2'),
         url('../bin/fonts/Matter-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aa_bold';
    src: url('../bin/fonts/Matter-Heavy.woff2') format('woff2'),
         url('../bin/fonts/Matter-Heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}