
@font-face {
    font-family: 'sans_serif_bold';
    src: url('fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('fonts/proximanova-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sans_serif_normal';
    src: url('fonts/proximanova-light-webfont.woff2') format('woff2'),
         url('fonts/proximanova-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sans_serif_semibold';
    src: url('fonts/proximanova-semibold-webfont.woff') format('woff2'),
         url('fonts/proximanova-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sans_serif_italic';
    src: url('fonts/proximanova-lightitalic-webfont.woff2') format('woff2'),
         url('fonts/proximanova-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sans_serif_condenced';
    src: url('fonts/proximanovacond-semibold-webfont.woff2') format('woff2'),
         url('fonts/proximanovacond-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Print-specific rules */
@media print {
    *::-webkit-scrollbar {  /* Hide scrollbars on all elements */
        display: none;
    }
}


html, body, * {
    color:   rgb(200, 200, 200);
    margin:  0;
    border:  0;
    padding: 0;
    font-family: 'sans_serif_normal', Sans-Serif, sans-serif;
    font-style:  normal;
    font-size:   14px;
    position:   relative;
    background: none;
    overflow:   visible;
    -webkit-print-color-adjust: exact;  /* Print page colors as intended */
}

.hide_scrollbar::-webkit-scrollbar {width: 0 !important;}

body {
    display: block;
    margin: 0;
    border: 0;
    padding: 0;
    background: #222;
}

b {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'sans_serif_bold', Sans-Serif, sans-serif;
    color: inherit;
}

strong {
    margin: 0;
    border: 0;
    padding: 0;
}

u {
    margin: 0;
    border: 0;
    padding: 0;
}

span {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: unset;
}

em {
    margin: 0;
    border: 0;
    padding: 0;
}

i {
    margin: 0;
    border: 0;
    padding: 0;
}

ul {
    margin: 0;
    border: 0;
    padding: 0;
}

ol {
    margin: 0;
    border: 0;
    padding: 0;
}

h1 {
    margin: 0;
    border: 0;
    padding: 0;
}

h2 {
    margin: 0;
    border: 0;
    padding: 0;
}

h3 {
    margin: 0;
    border: 0;
    padding: 0;
}

h4 {
    margin: 0;
    border: 0;
    padding: 0;
}

input {
    padding: 0;
    color: rgba(0, 0, 0, 0.6);
    background: rgba(255, 255, 255, 0.9);
    display: inline;
    margin: 0;
}

a {
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    display: block;
}

p {
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    display: block;
}

textarea:focus, input:focus {
    outline: none;
}

.noSelect {
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
}

.placeholder_dark {
}

.placeholder_light {
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.5);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.5);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(0, 0, 0, 0.5);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(0, 0, 0, 0.5);
}

.placeholder_light::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.5);
}
.placeholder_light::-moz-placeholder { /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.5);
}
.placeholder_light:-ms-input-placeholder { /* IE 10+ */
    color: rgba(0, 0, 0, 0.5);
}
.placeholder_light:-moz-placeholder { /* Firefox 18- */
    color: rgba(0, 0, 0, 0.5);
}

.placeholder_dark::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.5);
}
.placeholder_dark::-moz-placeholder { /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.5);
}
.placeholder_dark:-ms-input-placeholder { /* IE 10+ */
    color: rgba(255, 255, 255, 0.5);
}
.placeholder_dark:-moz-placeholder { /* Firefox 18- */
    color: rgba(255, 255, 255, 0.5);
}

.no_pointer_events {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    pointer-events: none;
}

/*normal*/
.scrollbars_visible ::-webkit-scrollbar-thumb {
    visibility : visible;
}

/*hidden*/
.scrollbars_hidden ::-webkit-scrollbar-thumb {
    visibility : hidden;
}
